<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Flight Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">            
            <mat-select placeholder="Airline" formControlName="airline">
              <mat-option *ngFor="let airline of airlines" [value]="airline.name">
                {{ airline.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['airline'].hasError('required')">
              Airline is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput length="6" placeholder="Flight code" formControlName="flightNumber">
            <mat-error *ngIf="addressForm.controls['flightNumber'].hasError('required')">
              Flight code is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.get('flightNumber')?.hasError('minlength')">
              Flight code must be exactly 6 digits
            </mat-error>
            <mat-error *ngIf="addressForm.get('flightNumber')?.hasError('max')">
              Flight code must be exactly 6 digits
            </mat-error>
            <mat-error *ngIf="addressForm.get('flightNumber')?.hasError('duplicate')">
              This Flight Number already exists.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Origin" formControlName="origin">
              <mat-option *ngFor="let origin of cities" [value]="origin.name">
                {{ origin.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['origin'].hasError('required')">
              Origin is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Destination" formControlName="destination">
              <mat-option *ngFor="let destination of cities" [value]="destination.name">
                {{ destination.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['destination'].hasError('required')">
              Destination is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>      

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Departure date</mat-label>
            <input formControlName="departureDate" matInput [matDatepicker]="pickerDepartureDate"  [min]="minDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerDepartureDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerDepartureDate></mat-datepicker>
            <mat-error *ngIf="addressForm.controls['departureDate'].hasError('required')">
              Departure date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput type="time" formControlName="departureTime">
            <mat-error *ngIf="addressForm.controls['departureTime'].hasError('required')">
              Departure time is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Arrival date</mat-label>
            <input formControlName="arrivalDate" matInput [matDatepicker]="pickerArrivalDate"  [min]="minDate"/>
            <mat-datepicker-toggle matSuffix [for]="pickerArrivalDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerArrivalDate></mat-datepicker>
            <mat-error *ngIf="addressForm.get('arrivalDate')?.hasError('required')">
              Arrival date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput type="time" formControlName="arrivalTime">
            <mat-error *ngIf="addressForm.controls['arrivalTime'].hasError('required')">
              Arrival time is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #price maxlength="7" placeholder="Price" type="number" formControlName="price">
            <mat-hint align="end">{{price.value.length}} / 7</mat-hint>
            <mat-error *ngIf="addressForm.controls['price'].hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.get('price')?.hasError('min')">
              Price must be minimun 20000
            </mat-error>
            <mat-error *ngIf="addressForm.get('price')?.hasError('max')">
              Price be maximun 5000000
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #totalSeats maxlength="2" placeholder="Total seats" type="number" formControlName="totalSeats">
            <mat-hint align="end">{{totalSeats.value.length}} / 3</mat-hint>
            <mat-error *ngIf="addressForm.controls['totalSeats'].hasError('required')">
              Total seats is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.get('totalSeats')?.hasError('min')">
              Seats must be minimun 10
            </mat-error>
            <mat-error *ngIf="addressForm.get('totalSeats')?.hasError('max')">
              Price be maximun 100
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
