<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="flights">Flights</a>
      <a mat-list-item href="users">Users</a>
      <a mat-list-item href="reservations">Reservations</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="">
        <mat-icon>airplane_ticket</mat-icon><span>Airline</span>
      </button>

      <span class="example-spacer"></span>

      <!-- <div>
        <a mat-button routerLink="peliculas/buscar">
          <mat-icon>search</mat-icon>Buscar
        </a>
      </div> -->
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <!-- <div class="espacio"></div> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
